body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #3c3151;
    color: white;
    height: 100vh;
    overflow: hidden;
}
.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 8%;
    width: 100%;
}
.Name{
    font-size: 28px;
}
.Status{
    font-size: 15px;
}
.profilePic{
    border: 5px 5px;
    padding: 5px 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid violet;
    background-color: white;
}
.chatpage{
    display: flex;
    flex-direction: column;
    height: 84%;
    border-top: 2px solid violet;
    border-bottom: 2px solid violet;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatpage::-webkit-scrollbar{
    display: none;
}
.bottomBar{
    display: flex;
    justify-content: center;
    padding: 2px 2px;
    width: 100%;
    height: 6%;
    bottom: 0.5%;
    position: fixed;
}
.inbox{
    display: flex;
    width: 60%;
    background-color: red;
    margin-left: 1%;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 0px 10px 10px 10px;
}
.sent{
    display: flex;
    width: 60%;
    background-color: violet;
    padding: 5px 5px;
    margin: 5px 5px;
    margin-left: auto;
    border-radius: 10px 0px 10px 10px;
}
.search{
    width: 78.5%;
    border-radius: 10px 0px 0px 10px;
    border: none;
}